@import "../../style.scss";

.stories {
  display: flex;
  gap: 10px;
  height: 200px;
  margin-bottom: 30px;

  @include mobile{
    height: 70px;
    justify-content: space-between;
  }

  .story {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    @include mobile{
      flex: none;
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
   

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
    span {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      font-weight: 500;
      
    }

    button {
      position: absolute;
      bottom: 35px;
      left: 8px;
      color: white;
      background-color: #5271ff;
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      cursor: pointer;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile{
        left: 20px;
        bottom: 30px;
      }
      
    }
  }
}